extends index.pug

block content
 
  div(class="container my-5")
    div(class="row")
      div(class="col-4")
      div(class="col-4")
        h1(class="text-center") Register
        form(action="/register", method="post",class="form container")
          label(for="username",class="label") Username:
          input(type="text", name="username", id="username",class="form-control")
          br
          label(for="password",class="label") Password:
          input(type="password", name="password", id="password",class="form-control")
          br
          input(type="submit", value="Register",class="btn btn-primary w-100")
      div(class="col-4")
